.container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
}

p {
  font-size: 24px;
}

.botoes {
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}